*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    z-index: 2;
}
.background-image-all {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 100%;
    /* Adjust the size of the background image */
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    /* You can add more CSS properties here to customize the background further */
}

/* Fontsize ขนาดcontainer ของพิกเซลที่น้อยกว่า992เพราะไม่มีจุดbreakpoint */
.large-text {
    font-size: 40px;
    /* ปรับขนาดตัวอักษรเป็น 24 พิกเซล */

}

/* ด้านล่างคือ จุดbreakpoint เมื่อถึง992พิกเซลหรือมากกว่า คำสั่งด้านล่างจะถูกใช้งานแทนที่ */
@media only screen and (min-width: 992px) {
    .large-text {
        font-size: 60px;
        /* ปรับขนาดตัวอักษรเป็น 24 พิกเซล */

    }

    /* การปรับขยายขยายแพดดิ้งแบบเสริมโดยใช้เปอร์เซ็นต์ */
    .pad-con{
        /* padding: 0 250px; */
        padding-left: 15%;
        padding-right: 15%;
    }
/*     
    display flex หาเอาเองว่ามันทำงานยังไง  */
    .navbar-list{
        display: flex;
        justify-content: end;
    }
  
   .line-vertical{
    border-left-style: solid;
   } 
   .line-hori-next{
    display: none;
    visibility: hidden;
  }

}

.font-center {
    font-family: 'Literata', serif;
}

.font-logo {
    font-family: 'Nothing You Could Do', cursive;
}

.bg-ap {
    background-color: #d6c7ac; /* Replace with your desired background color */
    color: white; /* Set text color to white for contrast */
}
    
.title-a {
    text-align: center;
}

.large-text-a {
    font-size: 35px;
    /* ปรับขนาดตัวอักษรเป็น 24 พิกเซล */
}

.profile-size{
    width: 300px; /* Set the width to 300 pixels */
    height: 400px; /* Set the height to 200 pixels */
}

.centered-image {
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center horizontally by setting left and right margins to 'auto' */
    text-align: center; /* Center horizontally within the parent element */
}

/* Optional: Style the image */
.centered-image-1{
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
}

.vertical {
    border-left: 6px solid blue;
    height: 200px;
    position:absolute;
    left: 50%;
  }

  
  .circular-image {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    object-fit: cover; /* Preserve aspect ratio and cover the circular area */
  }


  .large-text-bar {
    font-size: 20px;
    /* ปรับขนาดตัวอักษรเป็น 24 พิกเซล */
}

.line-hori {
    border: 1px solid #fff;
    opacity: 1;
}


#fadeout {
    opacity: 1;
    transition: 1s opacity;
    text-align: center;
    font-size:32px;
  }


  .line-hori-next{
    border: 1px solid #fff;
    opacity: 1;
    display: block;
  }


  .pad-con{
    padding-left: 1;
    padding-right: 1;
}

.large-text-title {
    font-size: 35px;
    /* ปรับขนาดตัวอักษรเป็น 24 พิกเซล */
}

.font-title {font-family: 'M PLUS Rounded 1c', sans-serif;
}

.large-text-con {
    font-size: 20px;
    /* ปรับขนาดตัวอักษรเป็น 24 พิกเซล */
}

.bg-footer {
    background-color: rgb(130, 119, 91); /* Replace with your desired background color */
    color: white; /* Set text color to white for contrast */
}

 .footer-p {
            background-color: rgb(130, 119, 91);
            color: #fff;
            padding: 20px;
            height: 100%;
            text-align: center;
            /* background-image: url('footer-image.jpg'); */
            background-size: cover; /* Optional: Adjust the background image size */
        }


 .footer-a {
    background-color: rgb(255, 239, 198);
    color: #fff;
    padding: 20px;
    height: 100px;
    text-align: center;
    background-image: url('footer-image.jpg');
    background-size: cover; /* Optional: Adjust the background image size */
}
.a-link{
    text-decoration: none;

}
.poppins-font{
    font-family: 'Poppins', sans-serif;
}


.row > .column {
    padding: 0 8px;
    --bs-gutter-x: 1.5rem;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
    cursor: pointer;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: lighter;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .content-hp{
    height: max-content;
  }